<div
  class="modal fade"
  id="deleteEmployee"
  tabindex="-1"
  aria-labelledby="deleteEmployeeLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-modal-body p-3">
        <h1 class="modal-title fs-5 fw-bold" id="deleteEmployeeLabel">
          Delete Employee?
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-footer bg-modal-body p-3">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          No
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="onSubmit()"
          data-bs-dismiss="modal"
        >
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
